
block intro

	.container
		.row: .col-sm-8.col-md-6
			form(method='post' id='formularz')
				input(type='hidden', name='action', value='order')
				.form-group(class=validationErrors.message ? 'has-error' : null)
					label Message
					textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
				.form-actions
					button(type='submit').btn.btn-primary Send
