extends ../layouts/default

block intro

  .container
    div(id="aa")
      div(class="row")
        div(class="Absolute-Center is-Responsive")
          div(class="col-sm-12 col-md-10 col-md-offset-1")
            form(method='post' id='rest-password')
              input(type='hidden', name='action', value='reset-password')
              .form-group
                label Email
                input(type='email', id='email',class="form-control", name='email')
              .form-group
                label Password
                input(type='password', id='password',class="form-control", name='password')
              .form-group
                label New Password
                input(type='password', id='newPassword',class="form-control", name='newPassword')
              .form-actions
                button(type='submit').btn.btn-primary Send
