extends ../layouts/default
title Sign in to Serwis
link(rel="stylesheet" href="/keystone/styles/keystone.min.css")
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

div(id="signin-view)
script.
	var Keystone = {"adminPath":"/keystone","brand":"Serwis","csrf":{"header":{"x-csrf-token":"slyToFGoeL446fc34b411f91225457ca9ae56557def27a63d7"}},"redirect":"/profile","userCanAccessKeystone":false};

script(src="/keystone/js/packages.js")
script(src="/keystone/js/signin.js")

